*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    //height: 100vh;
    background-color: $lt-very-light-gray;
    background-image: url(../images/bg-mobile-light.jpg);
    //background-image: url(../design/mobile-design-light.jpg);
    background-repeat: no-repeat;

}