body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.bold-txt {
  font-weight: 700
}

p {
  font-weight: 400;
  font-size: 14px;
}

.filter-btn {
  font-weight: 700;
  font-size: 14px;
}

